.user-dropdown {
  position: absolute;
  width: 10vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid gray;
  background-color: whitesmoke;
  top: 90px;
  right: 60px;
  z-index: 6;
  text-align: center;

  p {
    margin: 5px auto;
  }

  .sign-out {
    font-weight: bold;
    color: darkolivegreen;
  }
}
