.user-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgb(190, 190, 190);
  background-color: whitesmoke;
  top: 90px;
  right: 60px;
  z-index: 6;
  text-align: center;
  box-shadow: -4px 4px 12px gray;
  animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 0.3s;

  p {
    margin: 5px auto;
  }

  .sign-out {
    font-weight: bold;
    cursor: pointer;
    color: rgb(143, 143, 143);
    margin-top: 20%;
  }
}
